# Importar pesos desde jupyter

In [1]:
import numpy as np
import math
import seaborn as sns

In [2]:
# matriz de pesos - 1ra. capa oculta
weight1 = np.array(
    [
        [-7.111329, -8.454561],
        [-1.808775, -0.643220],
        [-3.353304, -1.915149],
        [1.409112, 1.409499],
        [13.312208, 6.452197],
    ]
)

In [3]:
# matriz de pesos - 2da. capa oculta
weight2 = np.array(
    [
        [-23.34256, -0.3018138, -0.021060652],
        [-153.46858, -3726.1377724, -0.003408315],
        [285.29831, -1608.4442506, 0.037013746],
    ]
)

In [4]:
# matriz de pesos - 3r. capa oculta
weight3 = np.array(
    [
        [-0.155886967, -0.5221975, 0.507650669],
        [-0.001978982, -1.0226530, 1.009375414],
        [2.354530978, -2.3519248, 0.001300361],
        [0.314539977, 3.0751082, -1.027222769],
    ]
)

In [5]:
def run_activation_function(variables_array):
    activation_function = np.array(
        [1 / (1 + np.exp(-x)) for x in variables_array], dtype=np.float128
    )
    return activation_function

# Carga de datos

In [ ]:
datos_iris = sns.load_dataset("iris")  # cargamos el dataset iris
# nuestras variables de entrada son las 4 primeras columnas
datos_iris.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
x_cols = ["sepal_length", "sepal_width", "petal_length", "petal_width"]
y_column = datos_iris["species"].unique()
# y_column = y_column.tolist()
y_column

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
datos_x = datos_iris[x_cols].copy()
datos_x.insert(0, "bias", 1)
datos_x

     bias  sepal_length  sepal_width  petal_length  petal_width
0       1           5.1          3.5           1.4          0.2
1       1           4.9          3.0           1.4          0.2
2       1           4.7          3.2           1.3          0.2
3       1           4.6          3.1           1.5          0.2
4       1           5.0          3.6           1.4          0.2
..    ...           ...          ...           ...          ...
145     1           6.7          3.0           5.2          2.3
146     1           6.3          2.5           5.0          1.9
147     1           6.5          3.0           5.2          2.0
148     1           6.2          3.4           5.4          2.3
149     1           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

# Prediccion

Ciclicamente activar cda elemento de la matriz y llamarla al activador, que se convierte en el input de la capa 1, y luego a la 2... y asi ciclicamente.

In [9]:
prediccion = []

for (
    index,
    row,
) in datos_x.iterrows():  # recorrer el dataset pero con indices de fila y columna
    # print(row)
    # corremos la funcion de activacion
    layer1 = run_activation_function(row.dot(weight1))
    layer1 = np.insert(layer1, 0, 1)
    layer2 = run_activation_function(layer1.dot(weight2))
    layer2 = np.insert(layer2, 0, 1)
    output_layer = run_activation_function(layer2.dot(weight3))
    prediccion.append(
        y_column[np.argmax(output_layer)]
    )  # insertar en especie el valor mas alto entre las 3 especies

In [ ]:
datos_iris["prediccion"] = prediccion
print(datos_iris.head())  # mostrar los primeros 10 registros
print(datos_iris.tail())  # mostrar los ultimos 10 registros

   sepal_length  sepal_width  petal_length  petal_width species prediccion
0           5.1          3.5           1.4          0.2  setosa     setosa
1           4.9          3.0           1.4          0.2  setosa     setosa
2           4.7          3.2           1.3          0.2  setosa     setosa
3           4.6          3.1           1.5          0.2  setosa     setosa
4           5.0          3.6           1.4          0.2  setosa     setosa
     sepal_length  sepal_width  petal_length  petal_width    species  \
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

    prediccion
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

# Calculando el % de error

In [11]:
print(
    "Accuracy: ", (datos_iris["species"] == datos_iris["prediccion"]).mean() * 100, "%"
)  # calcular el accuracy

Accuracy:  99.33333333333333 %

In [12]:
errores = datos_iris[datos_iris["species"] != datos_iris["prediccion"]]
errores

,sepal_length,sepal_width,petal_length,petal_width,species,prediccion
138,6.0,3.0,4.8,1.8,virginica,versicolor